<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/4d42520d-e19a-499c-94cb-c767bfa4131b/resourceGroups/az204rg/providers/Microsoft.Web/sites/webapp202109</ResourceId>
    <ResourceGroup>az204rg</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://webapp202109.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5a1b5c9e-0f0d-4fde-b57b-3cfe72b5cc98</ProjectGuid>
    <PublishUrl>https://webapp202109.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webapp202109</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>